.header-table {
  background-color: var(--mat-sys-primary);
}

td {
  background-color: var(--surface-container);
}

.button-primary {
  background-color: var(--mat-sys-primary);
}

.button-error {
  background-color: var(--mat-sys-error);
}

.table-bordered {
  border-collapse: collapse;
  border-radius: 4px; /* Añadir border-radius a la tabla */
  overflow: hidden; /* Asegurar que el border-radius se aplique correctamente */
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #B9B9B9;
}