<div>

  <div class="container mt-4">
    <div class="row pt-2">
      <div class="col">
        <h2>Categorías de pausas activas</h2>
      </div>

      <div class="col text-end  me-auto">
        <!-- Button to add a new category -->
        <button (click)="openDialog()" mat-flat-button>
          <mat-icon>add_circle_outline</mat-icon>
          Agregar categoría
        </button>
      </div>


    </div>

    <div class="d-flex flex-column mt-4">
      <p>
        Gestiona las distintas categorías de pausas activas.
      </p>
    </div>
  </div>


  <!-- Table for categories -->
  <div class="container mt-4">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-bordered">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th class="text-center" mat-header-cell *matHeaderCellDef> Categoría </th>
        <td class="text-center" mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th class="text-center" mat-header-cell *matHeaderCellDef> Descripción </th>
        <td class="text-center" mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th class="text-center" mat-header-cell *matHeaderCellDef> Estado </th>
        <td class="text-center" mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Acciones</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          <!-- Edit button -->
          <button class="rounded-circle text-white button-primary" color="primary" mat-mini-fab
            aria-label="Edit button">
            <span class="material-symbols-outlined mt-1">
              edit
            </span>
          </button>

          <!-- Delete button -->
          <button class="rounded-circle ms-2 text-white button-error" mat-mini-fab aria-label="Delete button">
            <span class="material-symbols-outlined mt-1">
              delete
            </span>
          </button>
        </td>
      </ng-container>


      <tr class="header-table text-light" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>


</div>